.instruct-screen-container {
  position: absolute;
  top: 0;
  display: grid;
  width: 100%;
  height: 100vh;
  /* grid-template-columns: 1fr; */
  grid-template-rows: 1fr 2fr 1fr;


}

.top-item {
  border: 2px solid red;
  padding-top: 1rem;
  display: flex;
  justify-content: center;

  .prb-container {
    width: 60%;
    border: 2px solid gray
  }
}

.mid-item {
  height: auto;
  margin-top: -2rem;
  display: flex;
  justify-content: center;


  .mid-item-cont {
    width: 68%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-image: url("../../assets/line.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }


}

.bottom-item {
  display: flex;
  justify-content: flex-end;
}