.back-btn-container {
  width: 120px;
  height: 120px;

  padding: 0.5rem;

  .back-btn-main {
    width: 100%;


    border-radius: 11px;
    background: linear-gradient(180deg, #71BE00 0%, #56B000 100%);
    box-shadow: 23px 15px 23px 0px rgba(99, 183, 1, 1) inset;
    box-shadow: 27px -25px 22.4px 0px rgba(95, 135, 4, 1) inset;
    border: 11px solid rgba(255, 255, 255, 1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;

    >* {
      /* border: 2px solid black; */
      width: 100%;

    }

    .back-button-top {
      display: flex;
      justify-content: flex-end;
      margin-top: 0.2rem;


      .back-ellipse1 {
        width: 25px;
        height: 10px;
        border-radius: 50%;
        transform: rotate(31.29deg);
        background: rgba(255, 247, 221, 1);
      }
    }

    .back-button-mid {
      display: flex;
      justify-content: center;
      margin-top: -0.2rem;
    }

    .back-button-bottom {
      display: flex;
      justify-content: flex-start;


      margin-bottom: 0.2rem;

      .back-ellipse2 {
        width: 15px;
        height: 5px;
        border-radius: 50%;
        transform: rotate(31.29deg);
        background: rgba(255, 247, 221, 1);
      }
    }
  }
}