.dialog-box {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 400px;
  /* border: 2px solid black; */
  /* position: fixed; */
}



.dialog-text-container {
  /* border: 2px solid violet; */
  padding-top: 1rem;
  /* background-color: aqua; */
  grid-area: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem
}