.card-stack-container {
  width: 360px;
  height: 300px;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-stack-main {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  max-width: 250px;
  height: 100%;
  border-radius: 57px;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px rgba(0, 0, 23, 0.1);
  /* border: 1px solid red; */

  .card-holder {
    /* position: relative; */
    /* border: 1px solid red; */

    .card-one {
      position: absolute;
    }

    .card-two {
      margin-left: 2.5rem;
      /* border: 1px solid red; */
      transform: rotate(5deg);
    }
  }

  .card-bottom-main {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    /* border: 2px solid red; */
    width: 100%;
    justify-content: flex-start;


    .card-bottom-text {
      display: flex;
      flex-direction: column;
      width: 80%;
      /* border: 2px solid green; */
      gap: 0.5rem;
      margin-left: 3.4rem;
      font-family: Nunito;

      .card-text-cont {
        color: rgba(17, 174, 198, 1);
        font-weight: 800;
        font-size: 25px;
      }

      .card-text-bottom {
        color: rgba(166, 201, 48, 1);
        font-weight: 800;
        font-size: 17px;

      }
    }
  }
}

.cs-button-container {

  position: absolute;
}